<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">root</property><!-- t5dba -->
  <property name="hibernate.connection.password">root</property><!-- t5db@ -->
  <property name="hibernate.connection.pool_size">1</property>
  <!-- jdbc:mysql://134.117.27.247:3306/t5db -->
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.format_sql">false</property>
  <property name="hibernate.search.autoregister_listeners">false</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.autocommit">true</property>
   
   <mapping class="com.library.model.User"/>
   <mapping class="com.library.model.Loan"/>
   <mapping class="com.library.model.Book"/>   
 </session-factory>
</hibernate-configuration>
